<!DOCTYPE html>
<html>

{% load staticfiles %}
<link rel="stylesheet" type='text/css' href="{% static "css/base.css" %}">

{% block title %}{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

{% block navbar %}
<ul class = "main nav">

	<a href="{% url 'index' %}">Home</a>

        {% if user.is_authenticated %}
            <a href="accounts/logout">Logout</a>
	{% else %}
            <a href="accounts/login">Login</a>
        {% endif %}
	<a href="{% url 'about' %}">About</a>
	<a href="{% url 'courses' %}">Courses</a>

</ul>

{% endblock %}




</html>
