<!DOCTYPE html>
<html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% load staticfiles %}
{% load i18n %}
<link rel="stylesheet" type='text/css' href="{% static "css/base.css" %}">
<link rel="stylesheet" href="{% static '/static/css/bootstrap.min.css' %}"> 
<!-- if you are using Bootstrap responsive: --> 
<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}">

    <title>{% block title %}dreamtitz{% endblock %}</title>

<body>
    <div id="header">
        {% block header %}

	{% if user.is_authenticated %} 
            <a href="/student">Home</a> | 
	{% else %}
	    <a href="{% url 'index' %}">Home</a> | 
	{% endif %}

        <a href="{% url 'about' %}">About</a> | 
        <a href="{% url 'courses' %}">Courses</a> | 

        {% if user.is_authenticated %}
<!--	     url 'edit_profile'  -->
            <a href="{% url 'schedule' %}">Schedule</a> | 
<!--	    <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a> | -->
	    <a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> 
        {% else %}
            <a href="{% url 'select_login' %}">{% trans "Log in" %}</a> 
        {% endif %}
        <hr />
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}

	{% if not user.is_authenticated %} 
	        <a href="/accounts/login/?next=/instructor/">Instructor</a> |
	        <a href="/accounts/login/?next=/student/">Student</a> |
		<a href="{% url 'registration_register' %}">{% trans "Register" %}</a>
	{% endif %}



    
        {% endblock %}
    </div>
</body>

</html>
