{% extends "base.html" %}
{% block title %} {{ course.name }} {% endblock %}

{% if user.is_authenticated %}
{% block content %}
<h1>Welcome to {{ course.name }}!</h1>
{{ course.description }} <br>
Instructor: {{ course.instructor.user.first_name }} {{ course.instructor.user.last_name }}<br>

<form name="input" action="" method="post"> {% csrf_token %}
<input type="hidden" name="course" value={{ course.id }}>
  
  {% if is_enrolled %}
    <input type="submit" value="Drop">
    <input type="hidden" name="enroll" value={{ False }}>
  {% else %}
    <input type="submit" value="Add">
    <input type="hidden" name="enroll" value={{ True }}>
  {% endif %}

</form>
{% endblock %}

{% block sidebar %}
{% if lecture_list %}

<a href = "/student/{{ course.department }}/{{course.id}}/assignments/">Assignments</a></br>
<a href = "/student/{{ course.department }}/{{course.id}}/grades/">Grades</a></br>

<h3>Lectures</h3>
            {% for lecture in lecture_list %}
                  <td style="width:10px;">
                  <a href = "/student/{{ course.department }}/{{course.id}}/{{ lecture.id }}/">{{lecture.name}}</a>
                  <input type="hidden" name="lecture" value={{ lecture.id }}>
             {% endfor %}
{% endif %}
{% endblock %}

{% else %}
  <input type="submit" value="Add">
  <input type="hidden" name="enroll" value={{ True }}>
{% endif %}


