    {% extends "base.html" %}

    {% block title %}Course List{% endblock %}

    {% block content %}
        {% if course_list %}

            {% for course in enrolled_courses %}
                <table border = "1">
                  <tr>
                  <td><li><a href = "/course/{{ course.name }}/">{{  course.name }}</a></li></td>
                  <td>
                    <form name="input" action="" method="post"> {% csrf_token %}
                      <input type="submit" value="Drop">
                      <input type="hidden" name="course" value={{ course.id }}>
                      <input type="hidden" name="enroll" value={{ False }}> 
                 </form>
             {% endfor %}

            {% for course in not_enrolled_courses %}
                <table border = "1">
                  <tr>
                  <td><li><a href = "/course/{{ course.name }}/"> {{ course.name }}</a></li></td>
                  <td>
                    <form name="input" action="" method="post"> {% csrf_token %}
                      <input type="submit" value="Add">
                      <input type="hidden" name="course" value={{ course.id }}>
                      <input type="hidden" name="enroll" value={{ True }}>
                    </form>
            {% endfor %}

        {% else %}
            <p> Going to put a list of classes here</p>
        {% endif %}

    {% endblock %}


