    {% extends "base.html" %}

    {% block title %}Course List{% endblock %}

{% if course_list %}
    {% block sidebar %}
        {% if enrolled_courses %}
        <li class="nav-header">Enrolled Classes</li>
	{% for course in enrolled_courses %}
	<li><a href = "/student/{{ course.department }}/{{ course.id }}">{{ course.name }}</a></li>
        {% endfor %}
	{% endif %}
	{% if taught_courses %}
	<li class="nav-header">Taught Classes</li>
	{% for course in taught_courses %}
	<li><a href = "/instructor/{{ course.id }}/dashboard">{{ course.name }}</a></li>
        {% endfor %}
	{% endif %}
    {% endblock %}

    {% block content %}
<ul class="nav nav-tabs">
  <li class="active">
    <a href="">All Courses</a>
  </li>

  <li class="dropdown">
  <a class="dropdown-toggle"
     data-toggle="dropdown"
     href="#">
      Filter
      <b class="caret"></b>
  </a>
    <ul class="dropdown-menu">
      <form name="input" action="" method="post"> {% csrf_token %}
                      <input type="submit" value="By Name" class="btn-secondary btn-small">
		      <input type="hidden" name="course" value="">
		      <input type="hidden" name="enroll" value="">
                      <input type="hidden" name="sort" value="name">
      </form>
      <form name="input" action="" method="post"> {% csrf_token %}
                      <input type="submit" value="By Department" class="btn-secondary btn-small">
		      <input type="hidden" name="course" value="">
		      <input type="hidden" name="enroll" value="">
                      <input type="hidden" name="sort" value="department">
      </form>
    </ul>
  </li>
</ul>
        <table border = "0" , width = "75%">
            {% for course in course_list %}
	          <tr>
                  <td style="width:50px;">
		  {% if not teacher %}
                  <a href = "/student/{{ course.department }}/{{ course.id }}" >{{ course.name }}</a></td>
		  {% else %}
                  <a href = "/instructor/{{ course.department }}/{{ course.id }}"> {{course.name}} </a></td>
		  {% endif %}
                  </td>
                  {% if not teacher %}
                  {% if course.instructor.user == user %}
                  <td style="width:50px;">
                   You teach this course!
                  </td>
                  </tr>
                  {% elif course in enrolled_courses %}
                  <td style="width:50px;">
                    <form name="input" action="" method="post"> {% csrf_token %}
                      <input type="submit" value="Drop" class="btn btn-medium">
                      <input type="hidden" name="course" value={{ course.id }}>
                      <input type="hidden" name="enroll" value={{ False }}> 
		      <input type="hidden" name="sort" value="name">
                    </form>
                  </td>

                  {% else %}
                  <td style="width:50px;">
                    <form name="input" action="" method="post"> {% csrf_token %}
		      <input type="submit" value="Add" class="btn btn-medium">
                      <input type="hidden" name="course" value={{ course.id }}>
                      <input type="hidden" name="enroll" value={{ True }}>
                      <input type="hidden" name="sort" value="name">
                    </form>
                  </td>
		  </tr>
		  {% endif %}
                  {% endif %}
             {% endfor %}

</table>
    {% endblock %}

{% else %}

        <p> No classes yet!</p>

{% endif %}
