{% extends "base.html" %}
{% block title %} {{ course.name }} {% endblock %}

{% if user.is_authenticated %}
{% block content %}
<h1>Welcome to {{ course.name }}!</h1>
{{ course.description }}<br>
Instructor: {{ course.instructor.first_name }}  {{course.instructor.last_name}} <br>
{% if is_student %}
  {% if user == course.instructor.user %}
  {% else %}
    <form name="input" action="" method="post"> {% csrf_token %}
      <input type="hidden" name="course" value={{ course.id }}>

      {% if not is_enrolled %}
        <input type="submit" value="Add">
        <input type="hidden" name="enroll" value={{ True }}>
   </form>
      {% endif %}
  {% endif %}
{% endif %}
{% endblock %}

{% block sidebar %}
{% if is_student %}
<li><a href="/student{% url 'courses' %}">All Courses</a></li>
{% else %}
<li><a href="/instructor{% url 'courses' %}"> All Courses</a></li>
{% endif %}
{% if is_enrolled %}

<li class="nav-header"><h5>{{course.name}} Links</h5></li>
<li><a href = "/student/{{ course.department }}/{{course.id}}/grades/"><h3>Grades</h3></a></li>

{% if assignment_list %}
<!--<li class="nav-header">Assignments</li>-->
<li><a href = "/student/{{course.department}}/{{course.id}}/assignments/"><h3>Assignments</h3></a></li>
  {% for assignment in assignment_list %}
  <li><a href = "/student/{{ course.department }}/{{course.id}}/assignments/{{assignment.id}}"> {{assignment.name}}</a></li>
  {% endfor %}
{% endif %}

{% if lecture_list %}
<li><a href = "/student/{{ course.department }}/{{course.id}}/assignments/">Assignments</a></li>

<li class="nav-header">Lectures</li>
            {% for lecture in lecture_list %}
                  <li><a href = "/student/{{ course.department }}/{{course.id}}/{{ lecture.id }}/">{{lecture.name}}</a></li>
                  <input type="hidden" name="lecture" value={{ lecture.id }}>
             {% endfor %}
{% endif %}
{% endif %}
{% endblock %}

{% else %}
  <input type="submit" value="Add">
  <input type="hidden" name="enroll" value={{ True }}>
{% endif %}

