{% extends "base.html" %}
    
{% block title %}Welcome {{first_name}} {{last_name}}! {% endblock %}
<h1>Welcome {{first_name}} {{last_name}}! </h1>
        

{% block content %}
    <p>
      
    <p>Welcome to Dreamtitz.</p>
	<p><a href="/login" class="btn btn-primary btn-large">Click here to login!&raquo;</a></p>
	<p>Not a member?</p>
	<p><a href="/accounts/register/" class="btn btn-primary btn-large">Click here to register!&raquo;</a></p>
    </p>
{% endblock %}

{% block sidebar %}
<li><a href="{% url 'courses' %}">All Courses</a></li>
{% endblock %}
