{% extends "base.html" %}

{% block title %} {{ lecture.name }} {% endblock %}

{% block sidebar %}
<li class="nav-header">Class Links</li>
<li><a href = "/student/{{ course.department }}/{{course.id}}/">{{course.name}}</a></li>
{% if lecture_list %}
<li class="nav-header">Lectures</li>
            {% for lecture in lecture_list %}
                  <li><a href = "/student/{{ course.department }}/{{course.id}}/{{ lecture.id }}/">{{lecture.name}}</a></li>
                  <input type="hidden" name="lecture" value={{ lecture.id }}>
             {% endfor %}
{% endif %}
{% endblock %}

{% block content %}
<h1> {{ lecture.name }} </h1>

{% if my_video %}
{% load embed_video_tags %}
{{my_video|embed:'640x480'}}
{% endif %}

{% endblock %}
