{% extends "base.html" %}

{% block title %} {{ lecture.name }} {% endblock %}

{% block content %}
<h1> {{ lecture.name }} </h1>


<ul>
{% if lecture_list %}
            {% for lecture in lecture_list %}
                <table border = "1" , width = "50 ">
                  <td style="width:10px;">
                  <a href = "/courses/{{ course.department }}/{{course.id}}/{{ lecture.id }}/">{{lecture.name}}</a></td>
                  <input type="hidden" name="lecture" value={{ lecture.id }}>
                  </td>
                  </tr>
             {% endfor %}
{% endif %}
</ul>

{% if my_video %}
{% load embed_video_tags %}
{{my_video|embed:'640x480'}}
{% endif %}
{% endblock %}
