{% extends "base.html" %}
    
{% block title %}Assignments{% endblock %}


{% block sidebar %}
<li class="nav-header">Class Links</li>
<a href = "/student/{{ course.department }}/{{course.id}}/">{{course.name}}</a></br>
{% endblock %}
 
{% block content %}
<h3>{{assignment.name}}</h3><br>

<h4>Description</h4>
<p> Type: {{assignment.submission_type}}
<p>{{assignment.description}}</p>
</br>
<h4>Date Assigned</h4>
<p>{{assignment.date}}</p>
</br>
<h4>Due Date</h4>
<p>{{assignment.due_date}}</p>
</br>
<h4>Points Possible</h4>
<p>{{assignment.points_possible}}</p><br>

<a href="upload"> Make Submission </a>

{% if submission %}
  <h4> Your latest submission: </h4>
  <p> Submitted: {{submission.date}} </p><br>
  <p> Grade: 
    {% if submission.grade %}
      {{submission.grade}}
    {% else %}
      Not graded yet
    {% endif %}
  <p> File: <a href="download"> Download your latest submission </a>
    </p><br>
{% endif %}

{% endblock %}

