{% extends "base.html" %}
    
{% block title %}Assignments{% endblock %}
        
{% if assignment %}
{% block content %}
<h3>{{assignment.name}}</h3>
</br>
<h4>Description</h4>
<p>{{assignment.description}}</p>
</br>
<h4>Due Date</h4>
<p>{{assignment.date}}</p>
</br>
<h4>Points Possible</h4>
<p>{{assignment.points_possible}}</p>
</br>
  <a href = "/student/{{ course.department }}/{{course.id}}/assignments/{{ assignment.name}}/submission/">submit {{ assignment.name}}</a>
{% endblock %}
{% endif %}

{% if assignments %}
{% block sidebar %}
<a href = "/student/{{ course.department }}/{{course.id}}/">{{course.name}}</a></br>
<h3>Assignments</h3>
{% for assignment in assignments %}
<td style="width:10px;">
  <a href = "/student/{{ course.department }}/{{course.id}}/assignments/{{ assignment.name }}/">{{assignment.name}}</a>
  <input type="hidden" name="assignment" value={{ assignment }}>

{% endfor %}
{% endblock %}
{% endif %}
