{% extends "base.html" %}
    
{% block title %}Welcome {{user.username}}! {% endblock %}

{% block sidebar %}
<li><a href="/student{% url 'courses' %}">All Courses</a></li>
{% if courses %}   
	<li class="nav-header">Your Classes</li>
        {% for course in courses %}
            <li><a href = "/student/{{ course.department }}/{{ course.id }}/"> {{ course.name }}</a></li></td>
            <input type="hidden" name="course" value={{ course.id }}>
        {% endfor %}
{% endif %}
{% endblock %}
{% block content %}
    <p>

          Welcome {{ user.username }}<br> <br>


    	Student     DASHBOARD
    </p>
   	{% if courses %}
	{% else %}
        You haven't enrolled in any courses yet!<a href="{% url 'courses' %}"> Enroll Now</a>    
	{% endif %}
<br><br>

 <div id="body">
            {% if messages %}
                <ul id="messages">
                    {% for message in messages %}
                    <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"></a> {{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}



{% endblock %}
