{% extends "base.html" %}
    
{% block title %}Welcome {{user.student.username}}! {% endblock %}
        
{% block content %}
    <p>

          Welcome {{ user.student.username }}<br> <br>


    	Student     DASHBOARD
    </p>
    <br><b>Enrolled Courses:</b></br>
    {% if courses %}
        {% for course in courses %}
            <br>{{  course.name }}
        {% endfor %}

   {% else %}
        You haven't enrolled in any courses yet!<a href="{% url 'courses' %}"> Enroll Now</a>    
   {% endif %}

{% endblock %}
