{% extends "base.html" %}

{% block sidebar %}


<li class="nav-header"> Assignments </li>
  {% for assignment in assignments %}
    <li> <a href="/instructor/{{course.id}}/assignments/{{assignment.id}}"> {{assignment.name}} </a></li>
  {% endfor %}

<li class="nav-header"> Lectures </li>


<li><a href = "/instructor/{{ course.department}}/{{course.id}}/grades/"><h3>Grades</h3></a></li>

{% endblock %}
{% block content %}

    <h2>{{course.name}} Class</h2>

    <a href="/instructor/{{course.id}}/new-assignment"> New Assignment</a>

  <h3> Uploaded Course Materials </h3>
  <p><a href="/instructor/{{course.id}}/upload_course_material/"> Upload course materials now! </a> </p>
  {% if course_materials %}
    {% for cm in course_materials %}
      <form action="/instructor/{{cm.course.id}}/delete_course_material/{{cm.id}}">
        <p> <a href="/instructor/{{cm.course.id}}/download_course_material/{{cm.id}}"> {{cm.description}}</a>  
        <input type="submit" value="Delete" id="Save"/> </p>
      </form>
    {% endfor %}
  {% endif %}
{% endblock %}
