{% extends "base.html" %}
    
{% block title %}Welcome {{user.username}}! {% endblock %}

{% block sidebar %}
<li><a href="/instructor{% url 'courses' %}"> View All Courses</a></li>
{% if taught_courses %}
<li class="nav-header">Taught Classes</li>
{% for course in taught_courses %}
<li><a href = "/instructor/{{course.id}}/dashboard/">{{course.name}}</a></li>
{% endfor %}
{% endif %}
{% endblock %}
        
{% block content %}
    <p>

          Welcome {{ user.username }}<br> <br>


    	Instructor    DASHBOARD

        {% load staticfiles %}
  <img align = right src="{% static "img/hot_teacher.jpg" %}"  />

    </p>

    <a href="new-course"> Create Course</a>   
 
    <br><b>Courses you are teaching:</b></br>
{% if taught_courses %}
    {% for course in taught_courses %}
   <ul> <a href ="/instructor/{{course.id}}/dashboard/">{{course.name}}</a></ul>
    {% endfor %}
{% else %}
    You aren't teaching any courses yet!
    <a href="new-course %}"> Create Course</a>    
{% endif %}



    </p> 
    
<br><br>

    <a href = "/schedule/"> Schedule </a>

 <div id="body">
            {% if messages %}
                <ul id="messages">
                    {% for message in messages %}
                    <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"></a> {{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}



{% endblock %}
