{% extends "base.html" %}
<script type="text/javascript" src="/my_admin/jsi18n/"></script>
<script type="text/javascript" src="/media/admin/js/core.js"></script>

<link rel="stylesheet" type="text/css" href="/media/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>


{% block content %}
<h2>New Assignment</h2>


<br>
<form method="post" action="">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="Create">
</form>

{% endblock %}
